[Unit]
Description=Klippy Unix Domain Socket API
Documentation=https://www.klipper3d.org/
After=network.target
Before=moonraker.service
Wants=udev.target

[Install]
Alias=klippy
WantedBy=multi-user.target

[Service]
Environment=KLIPPER_CONFIG=/home/printer/printer_config/printer.cfg
Environment=KLIPPER_LOG=/home/printer/printer_logs/klippy.log
Type=simple
User=printer
RemainAfterExit=yes
ExecStart=/home/printer/env/klippy/bin/python /home/printer/klipper/klippy/klippy.py ${KLIPPER_CONFIG} -l ${KLIPPER_LOG} -a /tmp/klippy_uds
Restart=always
RestartSec=10